<div class="row saldos p-4">
    <div class="col-sm-4 col-md-3 cuadros ml-xs-2 ml-md-3 p-4">
        <div class="row">
            <div class="col-md-6 cuadro-texto">
                Saldo General <br>en Cuentas
            </div>
            <div class="col-md-6 big-gray">
                $ 2000
            </div>
        </div>

    </div>
    <div class="col-sm-4 col-md-3 cuadros ml-xs-2 ml-md-3 p-4">
        <div class="row">
            <div class="col-md-6 cuadro-texto">
                Total de <br>Ingresos
            </div>
            <div class="col-md-6 big-gray">
                $ 8000
            </div>
        </div>

    </div>
    <div class="col-sm-4 col-md-3 cuadros ml-xs-2 ml-md-3 p-4">
        <div class="row">
            <div class="col-md-6 cuadro-texto">
                Total de gasto
                <br>en Cuentas
            </div>
            <div class="col-md-6 big-gray">
                $ 6000
            </div>
        </div>
    </div>
</div>
<div class="row contenedor-main p-5">
    <aside class="col-md-4">
        Mis cuentas
        <div class="cuenta-aside-active row p-3">
            <div class="col-md-8">
                Activa
                <br>5445-3443-3466-3345
                <br> Berenice García López
                <br>Titular
            </div>
            <div class="col-md-4">
                <span class="float-right">$16,000</span>
            </div>
        </div>
        <div class="cuenta-aside p-3 row mt-3">
            <div class="col-md-8">
                Inactiva
                <br>5445-3443-3466-3345
                <br> Berenice García López
                <br>Titular
            </div>
            <div class="col-md-4">
                <span class="float-right">$16,000</span>
            </div>
        </div>
        <button type="button" class="btn btn-outline-info btn-block add-target row mt-3" data-toggle="modal" data-target="#exampleModal">
            AGREGAR TARJETA
            <img src="assets/img/button-add.png" width="35" height="35" class="float-right">
        </button>
    </aside>
    <section class="col-md-8">
        Movimientos
        <table class="table">
            <thead>
                <tr>
                    <th>Fecha</th>
                    <th>Descripción</th>
                    <th>Monto</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>10/06/2019</td>
                    <td>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </td>
                    <td>$ 800</td>
                </tr>
                <tr>
                    <td>10/06/2019</td>
                    <td>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </td>
                    <td>$ 800</td>
                </tr>
                <tr>
                    <td>10/06/2019</td>
                    <td>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </td>
                    <td>$ 800</td>
                </tr>
                <tr>
                    <td>10/06/2019</td>
                    <td>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </td>
                    <td>$ 800</td>
                </tr>
                <tr>
                    <td>10/06/2019</td>
                    <td>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </td>
                    <td>$ 800</td>
                </tr>
                <tr>
                    <td>10/06/2019</td>
                    <td>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </td>
                    <td>$ 800</td>
                </tr>
            </tbody>
        </table>
    </section>
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <img src="assets/img/bankapp1.jpg" width="110" height="35" class="float-left"><span class="float-right">Agregar Tarjeta</span>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <input type="number" class="form-control" aria-describedby="numeroTarjeta" placeholder="Número de tarjeta">
                    </div>
                    <div class="form-group row">
                        <div class="col-md-6">
                            <input type="number" class="form-control" aria-describedby="cuenta" placeholder="Cuenta">
                        </div>
                        <div class="col-md-6">
                            <input type="number" class="form-control" aria-describedby="issuer" placeholder="Issuer">
                        </div>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" aria-describedby="nombreTarjeta" placeholder="Nombre tarjeta">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" aria-describedby="nombreTarjeta" placeholder="Nombre tarjeta">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" aria-describedby="marca" placeholder="Marca">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" aria-describedby="estatus" placeholder="Estatus">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" aria-describedby="saldo" placeholder="Saldo">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" aria-describedby="tipoCuenta" placeholder="Tipo de cuenta">
                    </div>
                </div>
                <div class="modal-footer row justify-content-center">
                    <button type="button" class="btn btn-secondary btn-cancelar col-md-4" data-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-success btn-agregar col-md-4">Agregar Tarjeta</button>
                </div>
            </div>
        </div>
    </div>
    <footer class="row">
        <div class="col-md-8 little-gray" style="position:relative">
            Banckup
            <br> Powered By Conecta México
            <br> Lorem ipsum dolor sit amet, consectetur adipiscing eli
        </div>
        <div class="col-md-4">
            <img src="assets/img/bankapp2.jpg" width="120" height="50" class="float-right">
        </div>
    </footer>
</div>