<div class="row saldos p-4" *ngFor="let saldo of saldos">
    <div class="col-sm-4 col-md-3 cuadros ml-xs-2 ml-md-3 p-4">
        <div class="row">
            <div class="col-md-6 cuadro-texto">
                Saldo General <br>en Cuentas
            </div>
            <div class="col-md-6 big-gray">
                {{saldo.saldo_general | currency}}
            </div>
        </div>

    </div>
    <div class="col-sm-4 col-md-3 cuadros ml-xs-2 ml-md-3 p-4">
        <div class="row">
            <div class="col-md-6 cuadro-texto">
                Total de <br>Ingresos
            </div>
            <div class="col-md-6 big-gray">
                {{saldo.ingresos | currency}}
            </div>
        </div>

    </div>
    <div class="col-sm-4 col-md-3 cuadros ml-xs-2 ml-md-3 p-4">
        <div class="row">
            <div class="col-md-6 cuadro-texto">
                Total de gasto
                <br>en Cuentas
            </div>
            <div class="col-md-6 big-gray">
                {{saldo.gastos | currency}}
            </div>
        </div>
    </div>
</div>
<div class="row contenedor-main p-5">
    <aside class="col-md-4">
        Mis cuentas
        <div class="cuenta-aside{{tarjeta.estado}} row p-3 mt-2" *ngFor="let tarjeta of tarjetas">
            <div class="col-md-8">
                {{tarjeta.estado | capitalizado}}
                <br>{{tarjeta.tarjeta}}
                <br> {{tarjeta.nombre}}
                <br>Titular
            </div>
            <div class="col-md-4">
                <span class="float-right">{{tarjeta.saldo}}</span>
            </div>
            <div class="col-md-12">
                <img src="/assets/img/mastercard.png" width="25" height="18" class="float-right">
            </div>

        </div>
        <button type="button" class="btn btn-outline-info btn-block add-target row mt-3" data-toggle="modal" data-target="#exampleModal">
            AGREGAR TARJETA
            <img src="assets/img/button-add.png" width="35" height="35" class="float-right">
        </button>
    </aside>
    <section class="col-md-8">
        Movimientos
        <table class="table">
            <thead>
                <tr>
                    <th>Fecha</th>
                    <th>Descripción</th>
                    <th>Monto</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let movimiento of movimientos">
                    <td>{{movimiento.fecha}}</td>
                    <td>{{movimiento.descripcion}}</td>
                    <td class="monto-{{movimiento.tipo}}">{{movimiento.monto}}</td>
                </tr>
            </tbody>
        </table>
    </section>
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <img src="assets/img/bankapp1.jpg" width="110" height="35" class="float-left"><span class="float-right">Agregar Tarjeta</span>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <input type="number" class="form-control" aria-describedby="numeroTarjeta" placeholder="Número de tarjeta" #numeroTarjeta>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-6">
                            <input type="number" class="form-control" aria-describedby="cuenta" placeholder="Cuenta" #cuenta>
                        </div>
                        <div class="col-md-6">
                            <input type="number" class="form-control" aria-describedby="issuer" placeholder="Issuer" #issuer>
                        </div>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" aria-describedby="nombreTarjeta" placeholder="Nombre tarjeta" #nombreTarjeta>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" aria-describedby="marca" placeholder="Marca" #marca>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" aria-describedby="estatus" placeholder="Estatus" #estatus>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" aria-describedby="saldo" placeholder="Saldo" #saldo>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" aria-describedby="tipoCuenta" placeholder="Tipo de cuenta" #tipoCuenta>
                    </div>
                </div>
                <div class="modal-footer row justify-content-center">
                    <button type="button" class="btn btn-secondary btn-cancelar col-md-4" (click)="cancelarForm()" data-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-success btn-agregar col-md-4" (click)="sendForm(numeroTarjeta.value, cuenta.value,issuer.value,nombreTarjeta.value,marca.value,estatus.value,saldo.value,tipoCuenta.value)">Agregar Tarjeta</button>
                </div>
                <div class="alert alert-primary m-4 {{visible}}" role="alert">
                    <h4>Json</h4>
                    <pre>
                            {{ mijson | json }}
                    </pre>

                </div>
            </div>
        </div>
    </div>
    <footer class="row">
        <div class="col-md-8 little-gray" style="position:relative">
            Banckup
            <br> Powered By Conecta México
            <br> Lorem ipsum dolor sit amet, consectetur adipiscing eli
        </div>
        <div class="col-md-4">
            <img src="assets/img/bankapp2.jpg" width="120" height="50" class="float-right">
        </div>
    </footer>
</div>