<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <a class="navbar-brand" href="#">
                <img src="assets/img/bankapp1.jpg" width="95" height="30" alt="">
                <span class="little-gray"> Powered by Conecta</span>
            </a>

            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" routerLink="miscuentas">MIS CUENTAS</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="enviardinero">ENVIAR DINERO</a>
            </li>
        </ul>
        <ul class="navbar-nav my-2 my-lg-0">
            <li class="nav-item active" *ngFor="let cuenta of cuentas">
                <a class="nav-link" href="#">
                    {{cuenta.nombre}}
                    <br>
                    <span class="little-gray">
                            último inicio {{cuenta.ultima_sesion}}
                    </span>

                </a>
            </li>
        </ul>
    </div>
</nav>