/* You can add global styles to this file, and also import other style files */

.little-gray,
.big-gray {
    vertical-align: middle;
    color: #929190
}

.little-gray {
    font-size: 11px;
}

.big-gray {
    font-size: 16px;
}

.navbar-light .navbar-nav .nav-link {
    color: #07be92;
    font-weight: bold;
    font-size: 12px;
}

.saldos {
    background-color: #01455c;
}

.saldos .cuadros {
    vertical-align: middle;
    font-weight: bold;
    background-color: white;
    border-radius: 3px 3px 3px 3px;
    -moz-border-radius: 3px 3px 3px 3px;
    -webkit-border-radius: 3px 3px 3px 3px;
    border: 0px solid #000000;
}

.saldos .cuadros .cuadro-texto {
    font-size: 12px;
    color: #07be92;
}

.cuenta-asidedesactivada,
.cuenta-asideactiva {
    background-color: #07be92;
    border-radius: 3px 3px 3px 3px;
    -moz-border-radius: 3px 3px 3px 3px;
    -webkit-border-radius: 3px 3px 3px 3px;
    border: 0px solid #000000;
    width: 100%;
    color: white;
    font-size: 14px;
}

.cuenta-asideactiva {
    background-color: #07be92;
}

.cuenta-asidedesactivada {
    background-color: #a2e2d2;
}

table {
    font-size: 15px;
}

.add-target {
    height: 50px;
    border-style: dashed;
    vertical-align: middle;
}

footer {
    width: 100%;
}

.btn-cancelar,
.btn-agregar {
    width: 150px;
}

textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
    border-color: rgba(126, 239, 104, 0.8);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(126, 239, 104, 0.6);
    outline: 0 none;
}

button.btn-success {
    background-color: #07be92;
}

.monto-cargo {
    color: red;
}

.monto-abono {
    color: green;
}

.visible {
    display: 'block';
}

.novisible {
    display: none;
}